# Ignore list for files not needed.

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

#Reports
*.html
*.htm

#ZIP Files
*.zip

#Directories
**/PCIE x16 to MXM 3.1 Riser Mini [Altium]/**
**/PCIE x16 to MXM 3.1 Riser Pro [Altium]/**
PCIE*x16*to*MXM*3.1*Riser*Mini*[Altium]/
PCIE*x16*to*MXM*3.1*Riser*Pro*[Altium]/
PCIE\ x16\ to\ MXM\ 3.1\ Riser\ Mini\ [Altium]/
PCIE\ x16\ to\ MXM\ 3.1\ Riser\ Pro\ [Altium]/
"PCIE x16 to MXM 3.1 Riser Mini [Altium]/"
"PCIE x16 to MXM 3.1 Riser Pro [Altium]/"